cache/
env/
.vscode/
**/__pycache__/**
*.py[cod]
docker-compose.override.yml
__pycache__
lightning_logs/
data/organized-datasets/cache
data/organized-datasets/files
data/organized-datasets/hexes_cache
data/organized-datasets/osm_cache
data/organized-datasets/hex2vec_cache
data/organized-datasets/osm_way_cache
data/organized-datasets/highway2vec_cache
.DS_Store
.idea/