numpy==1.24.4
pandas==2.0.3
geopandas==0.13.2
matplotlib==3.7.3
scikit-learn==1.3.2
srai==0.5.2
h3==4.0.0b2 # h3==4.0.0b4 crashes with the current version of srai
osmnx==1.7.1
folium==0.13.0 # folium==0.15.0 breaks the streamlit folium
ipykernel==6.26.0
nbformat==5.9.2
torch==2.1.1
pyvis==0.3.2
jupyter==1.0.0
black==23.11.0
plotly==5.18.0
mapclassify==2.6.0
overpy==0.6
tqdm==4.66.1
nbdime==4.0.1
papermill==2.5.0
Unidecode==1.3.8
osmium==3.7.0
pytorch-lightning==2.0.6
umap-learn==0.5.5
seaborn==0.13.2
wandb==0.16.4
python-dotenv==1.0.1
contextily==1.5.2
streamlit==1.35.0
streamlit_folium==0.15.1
torch_geometric
# install torch_geometric + accompanying packages (pyg-lib, torch-scatter and more) separately using Pip CLI
# 
# See https://pytorch-geometric.readthedocs.io/en/latest/notes/installation.html to find the correct version that matches your hardware
# For example for CUDA 12.1 and torch 2.1 (the project's torch): 
# pip install torch_geometric
# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
