descartes==1.1.0
Fiona==1.9.4.post1
folium==0.14.0
geopandas==0.13.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
momepy==0.6.0
networkx==3.1
numpy==1.24.4
osmnx==1.6.0
pandas==2.0.3
plotly==5.17.0
pyvis==0.3.2
python-dotenv==1.0.0
scikit-learn==1.3.0
seaborn==0.13.0
srai==0.3.3
tqdm==4.66.1
seaborn==0.13.0